@charset "UTF-8";
:root {
  --color-primary: #ee75d2;
  --color-secondary: #75d8ee;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-bg: #0f021f;
  --color-text: #fff;
}

@property --duration {
  syntax: "<time>";
  inherits: true;
  initial-value: 0s;
}
@property --wall-random {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.banner-bg {
  position: absolute;
  width: fit-content;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 5%,
    black 80%,
    transparent 100%
  );
  mask-image: linear-gradient(
    180deg,
    transparent 0%,
    black 5%,
    black 80%,
    transparent 100%
  );
  z-index: -1;
}

.walls {
  height: 100%;
  width: 345.63px;
  position: relative;
  perspective: 800px;
  --duration: 13s;
  left: 50%;
  transform: translateX(-50%);
}

.wall {
  transform-style: preserve-3d;
  position: relative;
  inset: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-flow: column;
  gap: 15.78px;
  animation: mount 0.6s ease-in-out;
  transform: translate3d(
    calc(var(--wi) * var(--wall-random) * 10rem),
    0,
    calc(6rem * var(--wi))
  );
}

.column {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  height: fit-content;
  gap: 23.22px;
}
.column:nth-child(1) {
  --r0: 0.4929836582;
  --r1: 0.9499736132;
  --r2: 0.3039419669;
  bottom: 64%;
  animation: fall var(--duration) linear infinite;
  animation-duration: calc(
    var(--duration) * max(var(--r0), var(--r1), var(--r2))
  );
  opacity: 20%;
}
.column:nth-child(2) {
  --r0: 0.6311280353;
  --r1: 0.6076210825;
  --r2: 0.4326363005;
  bottom: 1%;
  animation: fall-inverse var(--duration) linear infinite;
  animation-duration: calc(
    var(--duration) * max(var(--r0), var(--r1), var(--r2))
  );
  opacity: 60%;
}
.column:nth-child(3) {
  --r0: 0.3641622075;
  --r1: 0.6572174694;
  --r2: 0.3566557981;
  bottom: 64%;
  animation: fall var(--duration) linear infinite;
  animation-duration: calc(
    var(--duration) * max(var(--r0), var(--r1), var(--r2))
  );
  opacity: 40%;
}

.variant {
  display: flex;
  flex-direction: column;
  gap: 23.22px;
}

.drop {
  display: grid;
  place-items: center;
  font-size: 100px;
  color: var(--color-text);
}
.drop:first-child {
  position: relative;
}

.sq {
  height: 99.13px;
  border-radius: 50%;
}

.rect {
  height: 220.25px;
  border-radius: 50px;
}

.rect .mobile-image {
  display: none;
}

@keyframes mount {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fall {
  to {
    bottom: 13.6%;
  }
}
@keyframes fall-inverse {
  to {
    bottom: 46.8%;
  }
}
@media only screen and (max-width: 1300px) {
  .main-section .banner-bg {
    width: 100%;
  }

  .main-section .walls {
    width: 100vw;
    height: 100%;
  }

  .banner-bg {
    height: 400px;
    width: 100%;
    top: 30px;
    position: relative;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 15%,
      black 20%,
      black 80%,
      transparent 85%,
      transparent 100%
    );
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      black 5%,
      black 80%,
      transparent 100%
    );
  }

  .walls {
    top: 0;
    height: 100vw;
    width: 100vw;
  }

  .wall {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
  }

  .column {
    flex-direction: row-reverse;
    height: auto;
  }

  .variant {
    flex-direction: row;
  }

  .rect {
    height: 99.12px;
    width: 221px;
  }

  .rect .main-image {
    display: none;
  }

  .rect .mobile-image {
    display: block;
    width: 221px;
  }

  .column:nth-child(1),
  .column:nth-child(3) {
    bottom: 0;
    left: 0%;
  }

  .column:nth-child(2) {
    bottom: 0;
    right: 53.5%;
  }

  @keyframes fall {
    to {
      bottom: 0;
      left: -50.35%;
    }
  }

  @keyframes fall-inverse {
    to {
      bottom: 0;
      right: 7.7%;
    }
  }
}
@media only screen and (max-width: 750px) {
  .banner-bg {
    top: 0;
  }

  .column:nth-child(1),
  .column:nth-child(3) {
    bottom: 0;
    left: -8%;
  }

  .column:nth-child(2) {
    bottom: 0;
    right: 66.3%;
  }

  @keyframes fall {
    to {
      bottom: 0;
      left: -58.3%;
    }
  }

  @keyframes fall-inverse {
    to {
      bottom: 0;
      right: 20.5%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner-bg {
    -webkit-mask-image: linear-gradient(
      180deg,
      transparent 0%,
      black 5%,
      black 80%,
      transparent 100%
    );
    mask-image: linear-gradient(
      180deg,
      transparent 0%,
      black 5%,
      black 80%,
      transparent 100%
    );
  }

  .column:nth-child(1),
  .column:nth-child(3) {
    bottom: 0;
    left: -8%;
  }

  .column:nth-child(2) {
    bottom: 0;
    right: 69.3%;
  }

  @keyframes fall {
    to {
      bottom: 0;
      left: -58.3%;
    }
  }

  @keyframes fall-inverse {
    to {
      bottom: 0;
      right: 23.5%;
    }
  }
}
